{% extends "base.html" %} {% block content %}

<!-- Hero Section -->
<div class="hero-bg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-24">
    <div class="text-center">
      <h1
        class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl"
      >
        <span class="block">Chào mừng bạn đến với WebPy!</span>
        <span class="block text-zinc-400"
          >Nền tảng học Python cho sinh viên hiện đại</span
        >
      </h1>
      <p class="mt-6 max-w-lg mx-auto text-xl text-zinc-200">
        Khám phá các bài học, thực hành và theo dõi tiến độ của bạn với WebPy.
        Học Python dễ dàng, hiệu quả và luôn có sự hỗ trợ từ cộng đồng.
      </p>
      <div class="mt-10 flex flex-col sm:flex-row justify-center gap-4">
        <a
          href="#"
          class="px-8 py-4 border border-zinc-700 text-base font-bold rounded-lg text-white bg-blue-600 hover:bg-blue-700 shadow-lg transition md:py-4 md:text-lg md:px-10"
        >
          Vào học ngay
        </a>
        <a
          href="#"
          class="px-8 py-4 border border-zinc-700 text-base font-bold rounded-lg text-white bg-zinc-900 hover:bg-zinc-800 shadow-lg transition md:py-4 md:text-lg md:px-10"
        >
          Khám phá khóa học
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
